.header {
  max-width: 320px;
  display: flex;
}

.header__wrapper {
  background-color: #073042;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 18px 14px 0;
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 767px) {
  .header__wrapper {
    margin-top: 0;
    padding: 21px 30px 0
  }
}

@media screen and (min-width: 1279px) {
  .header__wrapper {
    padding: 21px 70px 0
  }
}

.header__wrapper_auth {
  background-color: #202020;
  margin-top: 0px;
}

.header__logo {
  background-image: url(../../images/logo-mini-min.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  transition: opacity .9s;
}

.header__logo:hover {
  opacity: 0.8;
  transition: opacity .3s;
}

@media screen and (min-width: 320px) {
  .header {
    max-width: unset;
  }
}
